<div class="dialog">
    <div mat-dialog-title>
        <h1>Book Form</h1>
    </div>
    <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="content">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" formControlName="title" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Author</mat-label>
                    <input matInput type="text" formControlName="author" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="genre" required>
                        <mat-option *ngFor="let val of genre" [value]="val">{{val}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="actions">
            <button mat-raised-button type="button" mat-dialog-close="false">Abbrechen</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Spechern'}}</button>
        </div>
    </form>
</div>